<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-name>HomePageServlet</servlet-name>
  <servlet-class>com.sundergs.learning.controllers.HomePage</servlet-class>
  </servlet>
  
   <servlet>
  <servlet-name>LoginPageServlet</servlet-name>
  <servlet-class>com.sundergs.learning.controllers.Login</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>HomePageServlet</servlet-name>
  <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>LoginPageServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
